html {
    box-sizing: border-box;
  }
  *,*:before, *:after {
    box-sizing: inherit;
  }
  *{
    margin: 0;
    padding: 0;
  }
body{
    background-color: #f3eae3;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.conteiner{
    display: flex;
    background-color: white;
    text-align: left;
    border-radius: 6px;
}
.conteiner_hijo{
    padding: 3rem;
}
.conteiner_hijo p{
    font-size: 14px;
    color: hsl(228, 12%, 48%);
    
}
 img{
    height: 30rem;
    width: 20rem;
    border-radius: 6px 0 0 6px; 
    
}
button{
    height: 2rem;
    width: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
    background-color: #1a4031;
    color: hsl(0, 0%, 100%);
    border-radius: 5px;
}
.conteiner h2{
    font-family: "Fraunces", serif;
}
.actuality_price{
    color: #3e8168;
}
.price{
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
    gap: 12px;
}
.discon_price{
    text-decoration: line-through;
}
.icon{
    width: 15px;
    height: 16px;
}